@model Project

<div class="img-thumbnail">
<img src="/Images/@Model.ImageUrl"/>
</div>

<h2>Details</h2>
<p>@Model.Name</p>
<p>@Model.NameClient</p>
<p>@Model.NameSupplier</p>
<p>@Model.DateStartProject</p>
<p>@Model.DateEndProject</p>
<p>@Model.Status</p>
