@model List<Project>

<h2>Все сотрудники</h2>

<a class="btn btn-primary" asp-action="NewProject">Добавить сотрудника</a>

<table class="table">
    <thead>
        <tr>
            <td>Название проекта</td>
            <td>Имя клиента</td>
            <td>Имя поставщика</td>
            <td>Дата начало</td>
            <td>Дата конец</td>
            <td>Статус проекта</td>
            <td colspan="2">Действие</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>                     
                    <td onclick="window.location.href='/Projects/Details?id=@item.Id'; return false;">@item.Name</td>
                    <td onclick="window.location.href='/Projects/Details?id=@item.Id'; return false;">@item.NameClient</td>
                    <td onclick="window.location.href='/Projects/Details?id=@item.Id'; return false;">@item.NameSupplier</td>
                    <td onclick="window.location.href='/Projects/Details?id=@item.Id'; return false;">@item.DateEndProject</td>                    
                    <td onclick="window.location.href='/Projects/Details?id=@item.Id'; return false;">@item.DateEndProject</td>                    
                    <td onclick="window.location.href='/Projects/Details?id=@item.Id'; return false;">@item.Status</td>                    
                    <td>
                        <a class="btn btn-primary" asp-action="edit" asp-route-id="@item.Id">Редактировать</a>
                    </td>                    
                    <td>
                        <a class="btn btn-danger delete" 
                        data-id="@item.Id"
                        data-controller="Projects"
                        data-action="delete"
                        data-body-message="Вы действительно хотите удалить запись?"
                        >Удалить</a>
                    </td>                    
                </tr>       
           
        }
    </tbody>
</table>