@model Project

<form asp-action="NewProject" asp-controller="Projects" method="Post" enctype="multipart/form-data">

    <input asp-for="Id" type="hidden"/>
    <input name="IsEditMode" id="IsEditMode" value="@ViewBag.IsEditMode" type="hidden"/>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="NameClient"></label>
        <input asp-for="NameClient" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="NameSupplier"></label>
        <input asp-for="NameSupplier" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Status">Статус проекта</label>
        <input asp-for="Status" class="form-control" type="number" value="@Model.Status"/>
    </div>
    <div class="form-group">
        <label asp-for="DateEndProject"></label>
        <input asp-for="DateEndProject" type="date" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Employee">Сотрудники</label>
        <select name="Employee" class="form-control" asp-items="@ViewBag.Employee"></select>    
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
    <div class="form-group">
        <label>Фото проекта</label>
        <input type="file" id="file" class="form-control" name="file"/>
    </div>

</form>