@model List<User>

<h2>Все сотрудники</h2>

<a class="btn btn-primary" asp-action="NewUser">Добавить сотрудника</a>

<table class="table">
    <thead>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td>Почта</td>
            <td colspan="2">Действие</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>                     
                    <td onclick="window.location.href='/User/Details?id=@item.Id'; return false;">@item.FirstName</td>
                    <td onclick="window.location.href='/User/Details?id=@item.Id'; return false;">@item.LastName</td>
                    <td onclick="window.location.href='/User/Details?id=@item.Id'; return false;">@item.FamilyName</td>
                    <td onclick="window.location.href='/User/Details?id=@item.Id'; return false;">@item.Email</td>                    
                    <td>
                        <a class="btn btn-primary" asp-action="edit" asp-route-id="@item.Id">Редактировать</a>
                    </td>                    
                    <td>
                        <a class="btn btn-danger delete" 
                        data-id="@item.Id"
                        data-controller="User"
                        data-action="delete"
                        data-body-message="Вы действительно хотите удалить запись?"
                        >Удалить</a>
                    </td>                    
                </tr>       
           
        }
    </tbody>
</table>